{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1> List of Reports Submitted  </h1>

{% if reports %}

<table class="table" class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Partenaire Name</th>
        <th scope="col">Heure Effectuer Partenaire</th>
        <th scope="col">Heure Effectuer user</th>
        <th scope="col">Description</th>
        <th scope="col">At</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      
        {% for report in reports %}
        <tr>
            <td>{{ report.user_name }} </td>   
            <td>{{ report.partner_name}}</td>
            <td>{{ report.hours_worked1_partner_user }}</td>
            <td>{{ report.hours_worked_main_user }}</td>
            <td>{{ report.description }}</td>
            <td>{{ report.created_at }}</td>
            <td> <a href="{% url 'report' report.id %}"> {{ report.id }} </a></td>
        
        </tr>
    {% endfor %}

{% endif %}
      
    </tbody>
  </table>


{% else %}
<div class="col-md-6 offset-md-3">
<h1> Login </h1>

<form method="POST" action="{% url 'home'%}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
          </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="password" required>
        </div>
         <button type="submit" class="btn btn-secondary">Login</button>
      </form>

</form>

</div>
{% endif %}
{% endblock %}
