{% extends 'dashboard.html' %}

{% block content %}



<div class="card opacity-100 ">
  <div class="card-header   "><strong>
    	{{ employee_report.user_name }}  & 
        
		{{ employee_report.partner_name }}</strong>
  </div>
  <div class="card-body  ">



<p class="card-text  ">
<strong>Heure Effectuer Parteneur: </strong>{{ employee_report.hours_worked1_partner_user }}</p>

<p class="card-text  ">
<strong>Heure Effectuer User: </strong>{{ employee_report.hours_worked_main_user }}
</p>

<p class="card-text">
<strong>Nombre de Spots: </strong>{{ employee_report.number_of_spots }}</p>

<p class="card-text">
<strong>Nombre de Boitier: </strong>{{ employee_report.number_of_boitier }}</p>

<p class="card-text">
<strong>raccordement: </strong>{{ employee_report.raccordement }}</p>

<p class="card-text">
<strong>Description: </strong>{{ employee_report.description }}</p>

<p class="card-text">
<strong>Cree A: </strong>{{ employee_report.created_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ employee_report.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'index' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_report' employee_report.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_report' employee_report.id %}" class="btn btn-secondary">Update Report</a>



{% endblock %}
